@charset "UTF-8";

.pagestyle 
{
	background: rgb(130, 177, 126);
	border: radius 10px, thickness 3px;
	font-family: helvetica;
	align-content: center;
	text-align: center;
}

.buttonStyle 
{
	background: white;
	padding: 20px;
	border-radius: 50px;
	border: 0px;
	font-weight: bold;
	background:#f0eb20;
	color: black;
}

.containerBasic 
{
	background: #6ea4be;
	/* background: #f5ff90; cool yellow */
	padding: 20px;
	border-radius: 50px;
	border: 0px;
	font-weight: bold;
	margin: 20px;
	/* display: flex; */
	align-content: center;
	text-align: center;
}

.farm 
{
	background: #753e08;
	width: 25%;
	padding: 20px;
	color: #ffffff;
	border-radius: 50px;
	border: 0px;
	font-weight: bold;
	margin: 20px;
	display: inline-block;
	align-content: center;
	text-align: center;
}

.cave 
{
	background: #203649;
	width: 25%;
	padding: 20px;
	color: #ffffff;
	border-radius: 50px;
	border: 0px;
	font-weight: bold;
	margin: 20px;
	display: inline-block;
	align-content: center;
	text-align: center;
}

.house 
{
	background: #58313f;
	width: 25%;
	padding: 20px;
	color: #ffffff;
	border-radius: 50px;
	border: 0px;
	font-weight: bold;
	margin: 20px;
	display: inline-block;
	align-content: center;
	text-align: center;
}

.casino 
{
	background: #432a68;
	width: 30%;
	padding: 20px;
	color: #ffffff;
	border-radius: 50px;
	border: 0px;
	font-weight: bold;
	margin: 20px;
	display: inline-block;
	align-content: center;
	text-align: center;
}
.spa 
{
	background: #124548;
	width: 30%;
	padding: 20px;
	color: #ffffff;
	border-radius: 50px;
	border: 0px;
	font-weight: bold;
	margin: 20px;
	display: inline-block;
	align-content: center;
	text-align: center;
}
.dragonsLair 
{
	background: #470400;
	width: 30%;
	padding: 20px;
	color: #ffffff;
	border-radius: 50px;
	border: 0px;
	font-weight: bold;
	margin: 20px;
	display: inline-block;
	align-content: center;
	text-align: center;
}

.entryContainer
{
	border-radius: 50px;
	border: 0px;
	padding: 10px;
	background:#4b4a4b;
	color: white;
}

.activityWindow
{
	width:100%;
	overflow-y: auto;
	max-height: 25%;
	min-height: 20%;
}

.activityContainer 
{
	background: #003402;
	width: 80%;
	padding: 20px;
	color: #ffffff;
	border-radius: 50px;
	border: 0px;
	font-weight: bold;
	margin: 20px;
	display: inline-block;
	align-content: center;
	text-align: center;
}


::placeholder 
{ /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1; /* Firefox */
  padding-left: 10px;
  font-family: helvetica;
}







