@charset "UTF-8";

.pagestyle 
{
	background: rgb(58, 59, 59);
	font-family: sans-serif;
}

.buttonStyle 
{
	background: white;
	padding: 20px;
	border-radius: 50px;
	border: 0px;
	font-weight: bold;
	background:#78c551;
	color: black;
}

.containerBasic 
{
	background: #6ea4be;
	padding: 20px;
	border-radius: 50px;
	border: 0px;
	font-weight: bold;
	margin: 20px;
	/* display: flex; */
	align-content: center;
	text-align: center;
}

/* MOD TABLE CELLS */

.tableContainerBasic 
{
	
	width: 100%;
	padding: 20px;
	/* border-radius: 50px; */
	border: 0px;
	font-weight: bold;
	margin: 10px;
	align-content: center;
	text-align: center;
}

.leftTableHeader 
{
	background: #feff00;
	width: 25%;
	padding: 20px;
	border-radius: 20px 0px 0px 20px;
	border: 0px;
	font-weight: bold;
	margin: 20px;
	/* display: flex; */
	align-content: center;
	text-align: center;
}

.rightTableHeader 
{
	background: #feff00;
	width: 25%;
	padding: 20px;
	border-radius: 0px 20px 20px 0px;
	border: 0px;
	font-weight: bold;
	margin: 20px;
	/* display: flex; */
	align-content: center;
	text-align: center;
}

.centerTableHeader 
{
	background: #feff00;
	width: 25%;
	padding: 20px;
	border-radius: 0px 0px 0px 0px;
	/* border: none; */
	/* border-color: #feff00; */
	font-weight: bold;
	margin: 20px;
	/* display: flex; */
	align-content: center;
	text-align: center;
}

.singleCell  /* MIDDLE */
{
	background: #f5ff90;
	width: 25%;
	padding: 10px;
	border-radius: 0px 0px 0px 0px;
	border: 0px;
	font-weight: bold;
	/* margin: 20px; */
	/* display: flex; */
	align-content: center;
	text-align: center;
}

.leftSingleCell 
{
	background: #f5ff90;
	width: 25%;
	padding: 10px;
	border-radius: 20px 0px 0px 20px;
	border: 0px;
	font-weight: bold;
	/* margin: 20px; */
	align-content: center;
	text-align: center;
}

.rightSingleCell 
{
	background: #f5ff90;
	width: 25%;
	padding: 10px;
	border-radius: 0px 20px 20px 0px;
	border: 0px;
	font-weight: bold;
	/* margin-right: 20px; */
	align-content: center;
	text-align: center;
}



.entryContainer
{
	border-radius: 50px;
	border: 0px;
	padding: 10px;
	background:#4b4a4b;
	color: white;
}

::placeholder 
{ /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1; /* Firefox */
  padding-left: 10px;
  font-family: helvetica;
}
