@charset "UTF-8";

.pagestyle 
{
	background: rgb(58, 59, 59);
	font-family: sans-serif;
}

.buttonStyle 
{
	background: white;
	padding: 20px;
	border-radius: 50px;
	border: 0px;
	font-weight: bold;
	background:#78c551;
	color: black;
}
/* MAKES IT LIKE A BUTTON */
.aTagStyle
{
	color: black;
	font-family: sans-serif;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	border-radius: 50px;
	border: 0px;
	background: #78c551;
	padding: 20px;
	margin-left: 10px;
	margin-right: 10px;	
}

/* FOR TABLES */
#aTagSmallButtonStyle
{
	color: black;
	text-decoration: none;
	font-weight: light;
	display: inline-block;
	border-radius: 20px;
	border: 0px;
	background: #fea41c;
	padding: 20px;
	margin-left: 10px;
	margin-right: 10px;	
}

.optionSelectorStyling
{
	padding: 20px;
	margin: 20px;
	color: white;
	background: #4b4a4b;
	border-radius: 50px;
}


.buttonStyleSideBySide 
{
	background: white;
	padding: 20px;
	display: inline-block;
	border-radius: 50px;
	border: 0px;
	font-weight: bold;
	background:#78c551;
	color: black;
}

.containerBasic 
{
	background: #6ea4be;
	padding: 20px;
	border-radius: 50px;
	border: 0px;
	font-weight: bold;
	margin: 20px;
	/* display: flex; */
	align-content: center;
	text-align: center;
}

.likedContainer
{
	width: 9%;
	background: #9ed4f6;
	padding: 20px;
	border-radius: 50px;
	border: 0px;
	font-weight: bold;
	margin: 20px;
	display: inline-block;
	align-content: center;
	text-align: center;
}

.newUserContainer
{
	background: #9ed4f6;
	padding: 20px;
	border-radius: 50px;
	border: 0px;
	font-weight: bold;
	margin: 20px;
	/* display: flex; */
	align-content: center;
	text-align: center;
}

/* MOD TABLE CELLS */

.tableContainerBasic 
{
	
	width: 100%;
	padding: 20px;
	/* border-radius: 50px; */
	border: 0px;
	font-weight: bold;
	margin: 10px;
	align-content: center;
	text-align: center;
}

.leftTableHeader 
{
	background: #feff00;
	width: 25%;
	padding: 20px;
	padding-left: 40px;
	padding-right: 20px;
	border-radius: 20px 0px 0px 20px;
	border: 0px;
	font-weight: bold;
	margin: 20px;
	/* display: flex; */
	align-content: center;
	text-align: center;
}

.rightTableHeader 
{
	background: #feff00;
	width: 25%;
	padding: 20px;
	padding-left: 150px;
	padding-right: 150px;
	border-radius: 0px 20px 20px 0px;
	border: 0px;
	font-weight: bold;
	margin: 20px;
	/* display: flex; */
	align-content: center;
	text-align: center;
}

.centerTableHeader 
{
	background: #feff00;
	width: 25%;
	padding: 20px;
	border-radius: 0px 0px 0px 0px;
	/* border: none; */
	/* border-color: #feff00; */
	font-weight: bold;
	margin: 20px;
	/* display: flex; */
	align-content: center;
	text-align: center;
}

.singleCell  /* MIDDLE */
{
	background: #f5ff90;
	width: 25%;
	padding: 10px;
	border-radius: 0px 0px 0px 0px;
	border: 0px;
	font-weight: bold;
	/* margin: 20px; */
	/* display: flex; */
	align-content: center;
	text-align: center;
}

.leftSingleCell 
{
	background: #f5ff90;
	width: 25%;
	padding: 10px;
	border-radius: 20px 0px 0px 20px;
	border: 0px;
	font-weight: bold;
	align-content: center;
	text-align: center;
}

.rightSingleCell 
{
	background: #f5ff90;
	width: 1000px;
	padding: 10px;
	border-radius: 0px 20px 20px 0px;
	border: 0px;
	font-weight: bold;
	align-content: center;
	text-align: center;
}

.entryContainer
{
	border-radius: 50px;
	border: 0px;
	padding: 20px;
	background:#4b4a4b;
	color: white;
}

/* USED IN THE CREATE AND EDIT AREAS */
.containerSideBySide 
{
	background: #6ea4be;
	width: 30%;
	padding: 30px;
	border-radius: 50px;
	border: 0px;
	font-weight: bold;
	margin: 20px;
	display: inline-block;
	align-content: center;
	text-align: center;
}

.optionSelectContainer 
{
	background: #92c5e5;
	width: 80%;
	padding: 30px 30px 0px 30px;
	border-radius: 50px;
	border: 0px;
	font-weight: bold;
	margin: 10px;
	display: inline-block;
	align-content: center;
	text-align: center;
}

#HTMLoptionSelectContainer 
{
	background: #92c5e5;
	width: 80%;
	padding: 30px 30px 20px 30px;
	border-radius: 50px;
	border: 0px;
	font-weight: bold;
	margin: 10px;
	display: inline-block;
	align-content: center;
	text-align: center;
}

#spaceMe
{
	margin-right: 30px;	
}

#ittyBittyLikes
{
	padding: 4%;
	font-size: 13px;
	border-radius: 10px;
	background: blue;
	color: #ffffff;
	margin: 2px;
	display: inline-block;
}

#totalsDisplay
{
	padding: 2%;
	font-size: 30px;
	border-radius: 50px;
	background: #721307;
	color: #ffffff;
	margin: 20px;
	display: inline-block;
}

#ittyBitty
{
	/* width: 80%; */
	padding: 2%;
	margin: 100px;
	/* margin-left: 200px; */
	font-size: 13px;
	border-radius: 10px;
	background: green;
	color: #ffffff;
	margin: 2px;
	display: inline-block;
	/* align-content: center;
	text-align: center; */
}

.errorAlertPopupContainer 
{
	width: 80%;
	padding: 5%;
	margin: 30px;
	background:#feff00;
	color: black;
	font-weight: bold;
	border-radius: 20px;
	margin: 10px;
	display: inline-block;
	align-content: center;
	text-align: center;
}

::placeholder 
{ /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1; /* Firefox */
  padding-left: 10px;
  font-family: helvetica;
}
